body{
    background-image: url("https://st3.depositphotos.com/1385248/14794/i/450/depositphotos_147947683-stock-photo-hands-with-contact-us-words.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.ContactUS{
    margin-top: -25rem;
}