nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 3.5rem;
    top: -0.5rem;
    z-index: 1000; /* Ensure the navbar is above other content */
  }

/* Additional custom styles */
.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: bold;
}

/* Hamburger Animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 0.5s linear;
}