body{
    
    height: 100%;
}
.ContactUS{
    margin-top: -25rem;
}


.parallax {
    /* The image used */
    background-image: url("https://media.istockphoto.com/id/1188406385/photo/contact-us-tag.webp?b=1&s=170667a&w=0&k=20&c=Z3Q2RoncQjF1AbjB8N0BEhXhJ97Ge6Kfnlz9grxtXJo=");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }